<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>MVC With Burger City!</title>
	</head>
	<body>
	 <style>
   * {
     box-sizing: border-box;
   }
	  body {
    background:
     url("https://tse2.mm.bing.net/th?id=OIP.b0dfW-FAt9hH0r-Pyu4PMwEsDL&pid=15.1&P=0&w=283&h=193")    /* image */ 

     /*https://tse1.mm.bing.net/th?id=OIP.8L2Bd49kg13H9sIu96SocwEsDh&pid=15.1&P=0&w=229&h=172*/

     /*https://tse2.mm.bing.net/th?id=OIP.NsBbQ1nv6Pgbh0Lu-1badQDrDW&pid=15.1&P=0&w=189&h=173*/

     /*https://tse4.mm.bing.net/th?id=OIP.Wxq3LS92fH3CIHbFmpea1gEsD5&pid=15.1&P=0&w=196&h=164*/

     /*http://www.hhs59.com/WhiteCastleShield.gif*/

     /*url("https://tse2.mm.bing.net/th?id=OIP.b0dfW-FAt9hH0r-Pyu4PMwEsDL&pid=15.1&P=0&w=283&h=193")    /* image */
     top center / 100% 100% /* position / size */
     no-repeat                /* repeat */
     fixed                    /* attachment */*/
     padding-box              /* origin */
     content-box;              /* clip */
     /*red;                     /* color */*/
      }

    #header {
    	        height: 100px;
    	        background: blue;
    	        border-top: solid;
              border-bottom: solid;
              border-left: solid;
              border-right: solid;
              border-color: black;
    }

    h1      {
    	        font: comic;
    	        font-size: 55px;
    	        font-color: white;
    	        margin-left: 650px;
    	        margin-bottom: 25px;
              color: white;
    	      
    }

     h2      {
              font: comic;
              font-size: 30px;
              font-color: white;
              margin-left: 10px;
              margin-bottom: 5px;
              color: white;
            
    }



     h3      {
              font: comic;
              font-size: 25px;
              font-color: white;
              margin-left: 650px;
              margin-bottom: 1px;
              color: white;
            
    }


     ul      {
              font: comic;
              font-size: 20px;
              font-weight: bold;
              font-color: black;
              /*margin-left: 650px;
              margin-bottom: 5px;*/
              color: black;
            
    }

    #leftSidebar   {

              width: 20%;
              height: 500px;
    	        background: blue;
    	        float: left;
    	        border-top: solid;
              border-bottom: solid;
              border-left: solid;
              border-right: solid;
              border-color: black;

    }

     #picture   {

              width: 60%;
              height: 500px;
            
              float: left;
              border-top: solid;
              border-bottom: solid;
              border-left: solid;
              border-right: solid;
              border-color: black;

    }

    img {
             width:100%;
             height:100%;
    }

    #rightSidebar   {

              width: 20%;
              height: 500px;
    	        background: blue;
    	        float: right;
    	        border-top: solid;
              border-bottom: solid;
              border-left: solid;
              border-right: solid;
              border-color: black;
              /*border-width: 50px;*/

    }

    #addBurger   {

              margin-top: 500px;
              width: 100%;
              height: 175px;
    	        background: red;
    	        border-top: solid;
              border-bottom: solid;
              border-left: solid;
              border-right: solid;
              border-color: black;
    	    

    }

    .create-update-form    {

              margin-left: 600px;
             

    }
	   
     </style> 
		{{{ body }}}
	</body>
</html>



